<h2 class="m-3">Ma liste de contacts</h2>

<div class="m-3 d-flex justify-content-end">
    <button class="btn btn-success">
        <em class="fas fa-plus"></em>
        &nbsp;Nouveau contact
    </button>
</div>

<table class=" striped highlight responsive-table m-5 p-3">
    <thead>
      <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>IBAN</th>
          <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        <td>
            <em class="fas fa-edit text-primary"></em>
            &nbsp; | &nbsp;
            <em class="fas fa-trash text-danger"></em>
        </td>
      </tr>
      <tr>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>$3.76</td>
        <td><em class="fas fa-edit text-primary"></em>
            &nbsp; | &nbsp;
            <em class="fas fa-trash text-danger"></em>
        </td>
      </tr>
      <tr>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>$7.00</td>
        <td><em class="fas fa-edit text-primary"></em>
            &nbsp; | &nbsp;
            <em class="fas fa-trash text-danger"></em>
        </td>
      </tr>
    </tbody>
  </table>
        



