<div >
  <h2  class="text-center">Nouveau contact</h2>

<mat-card class="d-flex justify-content-center w-75 m-5 p-5">


<mat-form-field class="example-full-width">
    <mat-label>Nom</mat-label>
    <input type="text" matInput placeholder="Nom" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Prénom</mat-label>
    <input type="text" matInput placeholder="Prénom" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>IBAN</mat-label>
    <input type="text" matInput placeholder="AB12 1234 1234 1234" value="">
  </mat-form-field>

  <div class="d-flex justify-content-end">
    <button mat-flat-button><em class="fas fa-time"></em>&nbsp; Quitter</button>
    <button mat-flat-button color="primary"><em class="fas fa-save "></em>&nbsp; Save</button>
</div>

</mat-card>





  </div>
