<div class="container p-3 card">

    <h3 class="text-center">Connexion</h3>
    <div class="mb-3 col s11 m2 l3 ">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control" id="input_email" placeholder="nomprenom@exemple.com">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label" >Mot de passe</label>
        <input class="form-control" id="input_password" placeholder="Mot de passe"rows="3">
      </div>
      <div>
        <button type="btn"class="btn btn-primary">
            <em class="fas fa-sign-in-alt"></em>&nbsp; Connexion</button>
      </div>
      <div class="mb-4">
        Vous n'avez pas de compte&nbsp;
        <button (click)="enregistrement()" type="btn" class="btn btn-link">Enregistrement</button>
      </div>
    </div>


