<div class="container-fluid card form-control w-50 p-3">
    <h2 class="text-center">Connexion</h2>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control" id="input_email" placeholder="nomprenom@exemple.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label" >Mot de passe</label>
        <input class="form-control" id="input_password" placeholder="Mot de passe"rows="3">
      </div>
      <div>
        <button type="btn"class="btn btn-primary">
            <em class="fas fa-sign-in-alt">&nbsp; Connexion</em></button>
      </div>
      <div>
        Vous n'avez pas de compte?&nbsp;
        <button type="btn" class="btn btn-link">Enregistrement</button>
      </div>
      
</div>
