<div class="p-2">
    <h2>Nouvelle transaction</h2>

<mat-card class="w-50 m-5">

  <h3 class="text-center">Nouvelle moyenne de compte : 21560 €</h3>
  <mat-form-field>
    <mat-label>Type de transaction</mat-label>
    <mat-select>
      <mat-option>None</mat-option>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Choisir un contact</mat-label>
    <mat-select>
      <mat-option>None</mat-option>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <mat-label>Montant</mat-label>
      <input type="number" matInput placeholder="Montant" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Iban</mat-label>
      <input matInput placeholder="AB12 1234 1234 1234" value="">
    </mat-form-field>

    <div class="d-flex justify-content-end">
      <button mat-flat-button><em class="fas fa-time"></em>&nbsp; Quitter</button>
      <button mat-flat-button color="primary"><em class="fas fa-save "></em>&nbsp; Save</button>
  </div>

</mat-card>





    </div>
