<h2 class="m-3">Mes transactions</h2>

<div class="m-3 d-flex justify-content-end">
    <button class="btn btn-success">
        <em class="fas fa-plus"></em>
        &nbsp;Nouvelle transaction
    </button>
</div>




<table class=" striped highlight responsive-table m-5 p-3">
    <thead>
      <tr>
          <th>Date</th>
          <th>Montant</th>
          <th>IBAN</th>
          <th>type</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        <td>$0.87</td>
      </tr>
      <tr>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>$3.76</td>
        <td>$0.87</td>
      </tr>
      <tr>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>$7.00</td>
        <td>$0.87</td>
      </tr>
    </tbody>
  </table>
        


