
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo m-2">SabBanck</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Connexion</a></li>
        <li><a href="#">Nouveau compte</a></li>
        <li><a href="#">Dashboard</a></li>
        <a class="btn dropdown-trigger fa-duotone fa-arrow-down" href="#!" data-target="dropdown2">
            Dropdown</a>
      </ul>
    </div>
  </nav>
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">one<span class="badge">1</span></a></li>
    <li><a href="#!">two<span class="new badge">1</span></a></li>
    <li><a href="#!">three</a></li>
  </ul>
