

<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><img height="50" class="ms-3" src="../../../assets/img/fourmis-or.png" alt=""></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
     
      
      <li><a  [routerLink]="'/' + role ">Ma banque</a></li>
      <li *ngIf="!isAdmin"><a [routerLink]="'/user/contact'">Liste de Contacts</a></li>
      <li *ngIf="!isAdmin"><a [routerLink]="'/user/transactions'" >Mes transactions</a></li>
      <li class="active" *ngIf="!isAdmin"><a [routerLink]="'/user/dashboard'">Tableau de bord</a></li>
      <li class="active" *ngIf="isAdmin"><a [routerLink]="'/admin/manage-users'">Gestion des utilisateurs</a></li>
      <li class="active" *ngIf="isAdmin"><a [routerLink]="'/admin/dashboard'">Tableau de bord</a></li>
      <li *ngIf="!isAdmin"><a [routerLink]="'/user/new-transaction'" type="btn" ></a>Nouvelle transaction</li>
      <li><a  [routerLink]="'/' + role " type="btn" >Jon Doe  <em class="fas fa-user"></em></a></li>
    </ul>
  </div>
</nav>
      