<div class="p-2">
  <h2 class="text-center m-5">Mon profile</h2>
<div class="d-flex flex-row justify-content-between">

<mat-card class="w-50 m-5">
<h3 class="text-center m-3">Informations personnelles</h3>
  <mat-form-field class="example-full-width">
    <mat-label>Nom</mat-label>
    <input type="text" matInput placeholder="Nom" value="">
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <mat-label>Prénom</mat-label>
    <input type="text" matInput placeholder="Prénom" value="">
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="text" matInput placeholder="mail@gmail.com" value="">
  </mat-form-field>
</mat-card>


<mat-card class="w-50 m-5 ">
    <h3 class="text-center m-3">Adresses</h3>
  <mat-form-field class="example-full-width">
      <mat-label>Nom</mat-label>
      <input type="text" matInput placeholder="Rue" value="">
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-label>Prénom</mat-label>
      <input type="text" matInput placeholder="Code postal" value="">
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="text" matInput placeholder="Ville" value="">
    </mat-form-field>
</mat-card>



</div>
<div class="d-flex justify-content-end p-5">
  <button mat-flat-button><em class="fas fa-time"></em>&nbsp; Quitter</button>
  <button mat-flat-button color="primary"><em class="fas fa-save "></em>&nbsp; Save</button>
</div>
  </div>
